
*{box-sizing: border-box;}


.menu{width: 800px;margin: 0 auto;}
.headline{width: 800px;padding-left: 45px;
color: lightgray;}



#content {
  position: relative;
  top: 150px;
  padding: 15px;}



#about-me,#work,#life,#contact-me{padding-bottom: 100px;width: 800px;
margin: 0 auto; }

#work,#life{padding-top:150px;}




th{text-align: left;}



hr{border: 5px solid lightgray; width: 50px;text-align: center;border-radius: 6px;}

#my-info{padding-top: 40px;}

table{text-align: center;}

/*_______________________________________*/

#nav{background-color:#FFCCCC;border-radius: 10px;width: 100%;
position: fixed;top: 0;left: 0;
z-index: 100;}

.menu li {border:1px solid white;border-radius: 6px;
width: 150px;padding: 10px;

background-color:#FFCCCC;color: white;

list-style: none;
text-align: center;display: inline-block;}

a{color: white;text-decoration: none;display: block;}

.menu li:hover{background-color: white;}
a:hover{color: #FFCCCC;font-weight: 800;}

/*_______________________________________*/

#about-me{margin-bottom: 70px;}

#my-avatar{float: left;}
#my-avatar img{border-radius: 50%;padding:  40px;}




/*_______________________________________*/

#album{text-align: center;}

.item{position: relative;max-width: 30%;display: inline-block;}

.item img{width: 100%;border-radius: 10px;}

.item-info{background-color: rgba(255,255,255,.8);
position: absolute;top: 0;left: 0;width: 100%;height: 100%;
text-align: center;padding:25px 10px;border-radius: 10px;
opacity: 0;}

.item-info:hover{opacity: 1;}

/*_________________________________________*/

#form{width:300px;margin: 0 auto;}
label{display: block;}
.form-row input,.form-row textarea{border-radius: 3px;width: 100%;}
.form-row textarea{resize: none;height: 4em;}
.form-row button{background-color:#FFCCCC;color: white;border-radius: 3px; 
  border: none;cursor: pointer;width: 80px;height: 25px;}
.form-row button[type="submit"]{background-color: #FF8888;color: white;}
.form-row button:hover{background-color: #C71585;color: white;}
.form-row button:active{background-color: gray;color: white}


/*________________________________________*/

@media screen and (min-width: 1024px) {
.menu-button {display: none;}
.menu-button-checkbox {display: none;}
}

@media screen and (max-width: 1023px){

.menu-button {
    float: right;
    font-size: 25px;
    line-height: 40px;
    color: white;
    background: transparent;
    padding: 0 15px;
    border: 0;}

  .menu {
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 150px;
    height: 100%;
    display: none;
  }

  .menu li {
    border: 0;
    border-radius: 0;
  }

 .menu-button-checkbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 40px;
    opacity: 0;
  }

  .menu-button-checkbox:checked ~ .menu {
    display: block;
  }

#container,#about-me,#work,#life,#contact-me{width:auto;}

th{text-align: left;}



hr{border: 5px solid lightgray;text-align: center;border-radius: 6px;}


table{text-align: center;}

/*_______________________________________*/

#nav{background-color:green;border-radius: 10px;
position: fixed;top: 0;left: 0;
z-index: 100;width: 100%;}


.menu li {border:1px solid white;
padding:10px;

background-color:green;color: white;

list-style: none;
text-align: center;width: 150px;}

a{color: white;text-decoration: none;display: block;}

.menu li:hover{background-color: white;}
a:hover{color: green;}

/*______________________________________*/

#my-avatar img {display: block;margin: 15px auto;}

#my-avatar{width: 100%;}




/*_______________________________________*/

#album{text-align: center;}

.item{position: relative;display: inline-block;max-width: 100%}



.item img{width: 100%;border-radius: 10px;}

.item-info{background-color: rgba(255,255,255,.8);
position: absolute;top: 0;left: 0;width: 100%;height: 100%;
text-align: center;padding:25px 10px;border-radius: 10px;
opacity: 0;}

.item-info:hover{opacity: 1;}

/*_________________________________________*/
form.contact-form {width: 80%;}
label{display: block;}
.form-row input,.form-row textarea{border-radius: 3px;width: 100%;}
.form-row textarea{resize: none;height: 4em;}
.form-row button{background-color:#FFCCCC;color: white;border-radius: 3px; 
  border: none;cursor: pointer;width: 80px;height: 25px;}
.form-row button[type="submit"]{background-color: #FF8888;color: white;}
.form-row button:hover{background-color: #C71585;color: white;}
.form-row button:active{background-color: gray;color: white}


}
